.addRow,
.addColumn {
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  background-color: #f3a500;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.addRow:hover,
.addColumn:hover {
  background-color: #f6c052;
}

.addRow {
  top: calc(100% + 2px);
  left: 3px;
}

.addColumn {
  top: 3px;
  left: calc(100% + 2px);
}
