.removeColumn,
.removeRow {
  position: absolute;
  background-color: #b20000;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.removeColumn:hover,
.removeRow:hover {
  background-color: #ca4c49;
}

.removeColumn {
  bottom: 100%;
  box-shadow: inset 0px -3px 0 -1px white;
}

.removeRow {
  right: 100%;
  box-shadow: inset -3px 0px 0 -1px white;
}

.visible {
  opacity: 1;
  pointer-events: unset;
}
